<div class="row">
    <div class="col-md-6">
        <h1>Розклад пар</h1>
        <div class="list-group text-center">

            <a href="/Groups/List/kn_304" class="list-group-item list-group-item-action active ">КН-304</a>

            <a href="/Groups/List/kn_305" class="list-group-item list-group-item-action active">КН-305</a>

            <a href="/Groups/List/kn_306" class="list-group-item list-group-item-action active">КН-306</a>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Розклад екзаменів</h1>
        <div class="list-group text-center">

            <a href="/SExam/List/kn_304" class="list-group-item list-group-item-action active">КН-304</a>

            <a href="/SExam/List/kn_305" class="list-group-item list-group-item-action active">КН-305</a>

            <a href="/SExam/List/kn_306" class="list-group-item list-group-item-action active">КН-306</a>
        </div>
    </div>
    
</div>