

<div class="row">
    <div class="col-md-6">
        <h1>Розклад пар</h1>
        <div class="list-group text-center">

            <a href="/Lectures/List/TomukVV" class="list-group-item list-group-item-action active">Томюк В.В.</a>

            <a href="/Lectures/List/GolovackiiRI" class="list-group-item list-group-item-action active">Головацький Р.І.</a>

            <a href="/Lectures/List/KosobuckiiPC" class="list-group-item list-group-item-action active">Кособуцький П.С.</a>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Розклад екзаменів</h1>
        <div class="list-group text-center">

            <a href="/PExam/List/IvancivRD" class="list-group-item list-group-item-action active">Іванців Р.Д.</a>

            <a href="/PExam/List/KolesnikKK" class="list-group-item list-group-item-action active">Колесник К.К.</a>

            <a href="/PExam/List/KosobuckiiPC" class="list-group-item list-group-item-action active">Кособуцький П.С.</a>
        </div>
    </div>

</div>