<div class="row">
    <div class="col-6 container">
        <a href="/Group/List" class="btn btn-secondary btn-lg bg-dark" role="button" aria-disabled="true">Розклад студенту</a>
    </div>
    <div class="col-6 container">
        <a href="/Lecture/List" class="btn btn-secondary btn-lg bg-dark bt" role="button" aria-disabled="true">Розклад викладачу</a>
    </div>
</div>